 body {
     margin: 0;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .urna {
     background-color: #dbd5c9;
     padding: 30px;
     display: flex;
 }

 .tela {
     width: 500px;
     height: 320px;
     background: linear-gradient(#E8E8E8, #C1C1C1);
     /*CONTINUAR DAQUI 03:30*/
 }
 .teclado {
    background-color: #403A3A;
    margin-left: 30px;
 }

 .teclado-botao {
     background-color: black;
     color: white;
     font-size: 20px;
     width: 70px;
     height: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 10px;
     cursor: pointer;
     box-shadow: 3px 3px 0px silver;
 }

 .teclado-linha {
     display: flex;
     justify-content: center;
     align-items: flex-end;
 }

 .botao-branco {
    background-color: white;
    color: black;
    font-size: 15px;
 }

 .botao-corrige {
    background-color: #f09046;
    color: black;
    font-size: 15px;
 }

 .botao-confirma {
    background-color: #48c079;
    color: black;
    font-size: 15px;
    width: 90px;
    height: 50px;
 }